export(Chromosome)
export(BinaryChromosome)
export(RealChromosome)
export(Population)
export(GeneticAlgorithm)
export(SelectionOperator)
export(SelectionTournament)
export(CrossoverOperator)
export(CrossoverSinglePoint)
export(CrossoverUniform)
export(CrossoverArithmetic)
export(MutationOperator)
export(MutationSimple)
export(MutationGaussian)
export(new_gene_opt_res)
export(run_ga)
export(selection_roulette)
export(selection_tournament)
export(crossover_single_point)
export(crossover_uniform)
export(mutation_binary)
export(mutation_real)

S3method(plot,gene_opt_res)
S3method(print,gene_opt_res)

import(R6)
import(future)
import(future.apply)
importFrom(graphics,grid)
importFrom(graphics,plot)
importFrom(stats,rnorm)
importFrom(stats,runif)
importFrom(utils,head)
