export(Chromosome)
export(BinaryChromosome)
export(RealChromosome)
export(Population)
export(GeneticAlgorithm)
export(SelectionOperator)
export(SelectionTournament)
export(CrossoverOperator)
export(CrossoverUniform)
export(CrossoverArithmetic)
export(MutationOperator)
export(MutationGaussian)
import(R6)
import(future)
import(future.apply)
